@inherits LayoutComponentBase

<PageTitle>BlazorServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a class="btn btn-primary" href="AddProduct" target="_self">Add Product</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
