@page "/AddProduct/"
@inherits AddProductBase


<div class="row">
    <div class="col-lg-9">
        <h1>Create</h1>
    </div>
</div>

@if (Product != null)
{
    <EditForm Model="@Product" OnValidSubmit="@SubmitPlayer">
        <div class="form-group">
            <label>Name</label>
            <InputText class="form-control" @bind-Value="Product.Name" />
        </div>     
        <div class="form-group">
            <label>Description</label>
            <InputText class="form-control" @bind-Value="Product.Description" />
        </div>
        <div class="form-group" mr-3>
            <label>Price</label>
            <InputNumber class="form-control" @bind-Value="Product.Price" />
        </div>  
        <br/>
        <button type="submit" class="btn btn-primary">Create</button>
    </EditForm>
    <br/>

    <div class="row">
        <div class="col-lg-3 text-primary">
            <a class="btn btn-secondary btn-sm" href="/products" role="button">Go Back To List</a>
        </div>
    </div>
}