@page "/product/{Id:int}"
@inherits GetProductBase

<h3>Get Product</h3>

@if (Product is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Product.Id</td>
                <td>@Product.Name</td>
                <td>@Product.Description</td>
                <td>@Product.Price</td>
                <td>
                    <button class="btn btn-primary"
                        @onclick="(()=>ShowProduct(Product.Id))">
                        <i class="oi oi-pencil mr-4"></i>
                    </button>
                    <button class="btn btn-primary"
                        @onclick="(()=>DeleteProduct(Product.Id))">
                        <i class="oi oi-trash"></i>
                    </button>
                </td>
            </tr>              
        </tbody>
    </table>
}
else
{
    <h4>Loading...</h4>
}